# Python virtual environment
venv/
ENV/
env/

# Model files
*.pkl



# Streamlit / Python cache
__pycache__/
*.py[cod]
*.pyo
.cache/

.bak

# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/
.DS_Store

